{% extends 'template.html' %}

{% block active_about %}class="active"{% endblock %}

{% block content %}
      <h1>Hakkında</h1>
<div class="boldhead">HaberFarkları nedir?</div> 
	<p>HaberFarkları, açık-kaynaklı NewsDiffs projesinin Türkiye
	uyarlamasıdır.</p>
<div class="boldhead">NewsDiffs nedir?</div> 
			<p>Anlık muhabirlik ve dijital habercilik devrinde,
			bir makalenin nihai bir <b>sürüme</b> erişmesinden nadiren bahsedilebilir.</p>
			<p>NewsDiffs, çevrimiçi haber sitelerinde yayınlanan
			makalelerdeki değişimleri takip etmeye ilk olarak
			<a href="http://nytimes.com"
				target="_blank">nytimes.com</a> ile
			başlamıştır.</p>

			<p>Okuyucular artık bir şekilde, eskiden özenle üzeri örtülen bu "yapım sürecini" takip edebilmektedir. Daha görünür kılınan bu değişimler, haber yapım sürecinin <a href="http://blogs.villagevoice.com/runninscared/2011/10/why_did_the_new_1.php" target="_blank">eleştirilmesinin</a> de önünü açmıştır.</p>

<p>NewsDiffs projesi 17 Haziran 2012 tarihindeki <a 
href="http://opennews-mit.eventbrite.com/" target="_blank">Knight Mozilla MIT hackathon</a> etkinliğinde doğmuştur.</p>
		
<div class="boldhead">Peki ne tür değişiklikler?</div>
			<p>Önemli haber kaynaklarındaki makaleler sıkça
			güncellenmektedir. Genellikle güncellemeler, örneğin "çoğunluk" kelimesinin "birçok" ile değiştirildiği basit düzenlemelerdir. Bazen değişiklik bir paragrafın atılması veya yeni bir paragraf eklenmesi anlamına da gelebilir. Bazen ise olay, <a 
				href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/18/us/rodney-king-whose-beating-led-to-la-riots-dead-at-47.html&v1=4914b33add01e16c34ed2d066bba5c829bcfdf8b&v2=eed0278b77d633f80398660ed97d8490ac84fc27&pagewanted=all" target="_blank">Rodney King'in ölümünde</a> olduğu gibi anlık son dakika haberleriyle değişime uğrar ve bilgi akışının artmasıyla derinlik kazanır.</p>

			<p>Yine takip sürecinde yakalanan dil değişiklikleri, ilginç imâ nüanslarına işaret edebilir.</p>

<div class="boldhead">NewsDiffs'i kim yarattı?</div> 
			<p>NewsDiffs, <a href="http://opennews-mit.eventbrite.com/" target="_blank">Knight Mozilla MIT 
				hackathon</a> etkinliğinde <a href="http://www.mit.edu/~ecprice/" target="_blank">Eric Price</a>, <a href="http://jennifer8lee.com" target="_blank">Jennifer 8. Lee</a> ve <a href="http://web.mit.edu/~price/" target="_blank">Greg Price</a>'ın bir haftalık çalışmasının ürünü olarak ortaya çıktı.</p>

			<p>NewsDiffs projesi hakkında daha fazla bilgi almak
			için <a href="http://newsdiffs.org"
				target="_blank">newsdiffs.org</a> adresini
			ziyaret edebilirsiniz.</p>

{% endblock %}
