{% extends 'template.html' %}
{% load url from future %}

{% block active_front %}class="active"{% endblock %}

{% block content %}

{% include "find_by_uri.html" %}

<h1>NewsDiffs [tr] |  Çevrimiçi Haberlerin Zamana Göre Takibi</h1><p>

<h2>	NewsDiffs [tr] yayımdan sonra gerçekleşen değişiklikleri <a href="/browse/">arşivler.</a><br> Şu anda takip ettiğimiz kaynaklar
{% for source in sources|slice:":-1" %}
<a href="{% url 'browse' source %}">{{source}}</a>,
{% endfor %}
ve
<a href="{% url 'browse' sources|last %}">{{sources|last}}</a>.</h2> 

<p>
<p>Haziran 2012 tarihinde gerçekleşen Knight Mozilla MIT hackathon'unda doğan NewsDiffs, sürekli devinim halindeki çevrimiçi gazeteler tarafından yayınlanan haberlerin arşivlenmesini amaçlamaktadır.</p>
		
<p>New York Times, <a href="https://www.nytimes.com/2012/07/01/opinion/sunday/article-changes-are-shown-in-a-tool-created-by-outsiders.html?_r=1">NewsDiffs hakkında</a> bir inceleme yazısı yayınlamıştır.</p>

<p>Bu site özgün NewsDiffs projesinin Türkiye uyarlamasıdır.</p>

<p>Makale arşivimize <a href="/browse/">gözatabilir</a> veya bazı değişim örneklerini <a href="/examples/">inceleyebilirsiniz.</a>

<p>Yazılıma katkıda bulunmak istiyorsanız <a href="https://github.com/direnkod/newsdiffs" target="_blank">Github depomuza</a> bakabilirsiniz.</p>

<!--
<p>If you want updates, you can <a href="http://newsdiffs.org/subscribe/">subscribe</a> to our newsletter, or you can follow <a href="http://twitter.com/newsdiffs">NewsDiffs</a> on Twitter.-->

{% endblock %}
